extends layout

block content
  h3= siteUrl

  if data
    each val in data
      div ThreatType: #{val.threatType} 
      div PlatformType: #{val.platformType}
    p Json response  
      code !{JSON.stringify(data)}
  else 
    div OK
    
